body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.navbar {
    border-radius: 0px;
}

#intro {
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 200;
    font-size: 2em;
}

img {
    position: absolute;
    border-radius: 25px;
    bottom: 50px;
    left: 200px;
    width: 70%;
    box-shadow: 3px 8px 15px #8c8c8c;
}

.fa-coffee {
    position: absolute;
    z-index: 2;
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100%;
    padding: 0.25em;
    transition: 0.3s transform;
}

.fa-coffee:hover {
    color: #823300;
    border: 1px solid #823300;
    cursor: pointer;
    transform: scale(1.2);
}

/* -----The Stops----- */

/* High Street Kensington */
.one {
    top: 385px;
    left: 352px;
}

/* Marylebone */
.two {
    top: 169px;
    left: 459px;
}

/* Oxford Circus */
.three {
    top: 333px;
    left: 621px;
}

/* Holborn */
.four {
    top: 333px;
    right: 530px;
}

/* Old Street */
.five {
    right: 360px;
    top: 226px;
}

/* London Bridge */
.six {
    right: 360px;
    bottom: 85px;
}

/* Mansion House */
.seven {
    right: 459px;
    bottom: 190px;
}


/* -----Tooltips----- */

/* General settings */
.tip {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
}

.tip.show {
    display: block;
}

.tip > p {
    font-family: 'Raleway';
    margin: 0;
}


/* Individual tips */

/* High Street Kensington */
.tip_1 {
    top: 385px;
    left: 232px;
}

/* Marylebone */
.tip_2 {
    top: 200px;
    left: 420px;
}

/* Oxford Circus */
.tip_3 {
    top: 293px;
    left: 605px;
}

/* Holborn */
.tip_4 {
    top: 293px;
    right: 475px;
}

/* Old Street */
.tip_5 {
    right: 400px;
    top: 224px;
}

/* London Bridge */
.tip_6 {
    right: 300px;
    bottom: 40px;
}

/* Mansion House */
.tip_7 {
    right: 420px;
    bottom: 145px;
}
