body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.navbar {
    border-radius: 0px;
    font-family: 'Quicksand', 'Lora';
    border-radius: 0px 0px 4px 4px !important;
    font-size: 1em;
    margin: 0 !important;
    background-color: rgba(141, 43, 30, 0.85) !important;
}
/* the content in the about us pop up */
.content h3 {
    font-family: 'Lora', 'Quicksand', sans-serif;
    color: rgb(88, 14, 38);
    font-size: 2em;
    margin-top: 20px;
  }
  
  .content p {
    font-family: 'Raleway', sans-serif;
    color: rgb(88, 14, 38);
  }
  
  /* The buttons in the about us pop up */
  .abt_btn {
    background-color: rgba(0, 76, 163, 0.5);
    border: 1px solid rgba(0, 76, 163, 0.5);
    border: none;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand';
    padding: 1em;
  }
  
  .abt_btn:hover {
    background-color: rgba(0, 76, 163, 1);
    border: 1px solid rgba(0, 76, 163, 1);
    border-radius: 2em;
  }
  
  button a {
    color: #fff;
    text-decoration: none;
  }
  
  button a:hover {
    color: #fff;
    text-decoration: none;
  }
  

#intro {
    text-align: center;
    font-family: 'Quicksand', 'Lora', sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    padding: 0 7em;
    margin-top: 0.75em;
    color: rgb(88, 14, 38);
}

img {
    position: absolute;
    border-radius: 25px;
    bottom: 50px;
    left: 200px;
    width: 70%;
    box-shadow: 3px 8px 15px #8c8c8c;
}

.fa-coffee {
    position: absolute;
    z-index: 2;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 100%;
    padding: 0.25em;
    transition: 0.3s transform;
}

.fa-coffee:hover {
    color: #823300;
    border: 1px solid #823300;
    cursor: pointer;
    transform: scale(1.2);
}

/* -----The Stops----- */

/* High Street Kensington */
.one {
    top: 385px;
    left: 352px;
}

/* Marylebone */
.two {
    top: 169px;
    left: 459px;
}

/* Oxford Circus */
.three {
    top: 333px;
    left: 621px;
}

/* Holborn */
.four {
    top: 333px;
    right: 530px;
}

/* Old Street */
.five {
    right: 360px;
    top: 226px;
}

/* London Bridge */
.six {
    right: 360px;
    bottom: 85px;
}

/* Mansion House */
.seven {
    right: 459px;
    bottom: 190px;
}


/* -----Tooltips----- */

/* General settings */
.tip {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
}

.tip.show {
    display: block;
}

.tip>p {
    font-family: 'Raleway';
    margin: 0;
}


/* Individual tips */

/* High Street Kensington */
.tip_1 {
    top: 385px;
    left: 185px;
}

/* Marylebone */
.tip_2 {
    top: 200px;
    left: 420px;
}

/* Oxford Circus */
.tip_3 {
    top: 297px;
    left: 590px;
}

/* Holborn */
.tip_4 {
    top: 297px;
    right: 515px;
}

/* Old Street */
.tip_5 {
    right: 395px;
    top: 224px;
}

/* London Bridge */
.tip_6 {
    right: 325px;
    bottom: 48px;
}

/* Mansion House */
.tip_7 {
    right: 417px;
    bottom: 155px;
}

