/*takes tag name*/
p {
	color: blue;
	background-color: yellow;
	border: 3px dotted green;
	border-left: 10px solid red;
	font-size: 30px;
}

h1 {
	color: green;
}

/*id is unique to the element of the html scrips
*/
#luca {
	text-align: center;
}

/*class name*/
.test{
	background-color: red;
}

.nice-link{
	color:white;
}

.nav-link:hover{
	color:#0000cc;
	text-decoration:underline;
	transition: 3s;
}

body {
    background-image: url("Project/Underground.png");
}
