body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
}

/*----------------------------------------Section 1------------------------------------ */
.sec_1 {
    position: relative;
}

#landing {
    height: 100vh;
    width: 100vw;
}

#bg {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("Underground.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(8px);
}

.container {
    position: absolute;
    bottom: 100px;
    left: 90px;
    z-index: 2;
}

.text-alignment {
    text-align: center;
}

/*---------------------------------------------------- Section 2 ----------------------------------------- */

.sec_2 {
    height: 100vh;
    width: 100vw;
    background-image: url("Underground.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/* The cup icons */
.svg-icon {
    width: 2em;
    height: 2em;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.2s;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #A52A2A;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

/* The individual cups */
.one {
    top: 250px;
    left: calc(100vw - 70%);
    position: absolute;
}

.two {
    top: 250px;
    left: calc(100vw - 60%);
}

.three {
    top: 250px;
    left: calc(100vw - 50%);
}

.four {
    top: 250px;
    left: calc(100vw - 40%);
}

.five {
    top: 250px;
    left: calc(100vw - 30%);
}


/* .tooltiptext */
.tip {
    display: none;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: calc(100vw - 73%);
    background-color: rgba(0,0,0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
}

.tip.show {
    display: block;
}

.tip_2 {
    top: 300px;
    left: calc(100vw - 63%);
}

/*Charlotte's CSS*/
/*takes tag name*/
p {
    color: blue;
    background-color: yellow;
    border: 3px dotted green;
    border-left: 10px solid red;
    font-size: 30px;
}

h1 {
    color: green;
}