body {
    margin: 0;
    padding: 0;
    /* background-image: url('map-cut3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    
    width: 100vw;
    height: 100vh; */
}

#container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

img {
    position: absolute;
    border-radius: 25px;
    top: 100px;
    left: 200px;
    width: 70%;
    box-shadow: 3px 8px 15px #8c8c8c;
}

.fa-coffee {
    position: absolute;
    z-index: 2;
    font-size: 15px;
    top: 290px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100%;
    padding: 0.25em;
    transition: 0.3s transform;
}

.fa-coffee:hover {
    color: brown;
    border: 1px solid brown;
    cursor: pointer;
    transform: scale(1.2);
}

.one {
left: 261px;
}

.two {
left: 500px;
}

.three {
    left: 619px;
} 

.four {
    left: 737px;
}

.five {
    left: 810px;
}

.six {
    left: 871px;
}