body { margin-top:30px; }
#login-nav input { margin-bottom: 15px; }

/*----------------------------------------Section 1------------------------------------ */
.sec_1 {
     position: relative;
}

h1,h2,h3{
font-family: 'Kaushan Script', cursive;
}

#landing {
    height: 100vh;
    width: 100vw;
}

/* #bg {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("Underground.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(8px);
} */
/*
.container {
    position: absolute;
    bottom: 100px;
    left: 90px;
    z-index: 2;
} */

.text-alignment {
    text-align: center;
}

/*---------------------------------------------------- Section 2 ----------------------------------------- */

.sec_2 {
    height: 100vh;
    width: 100vw;
    background-image: url("Underground.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/* The cup icons */
.svg-icon {
    width: 2em;
    height: 2em;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.2s;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #A52A2A;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

/* The individual cups */
.one {
    top: 250px;
    left: calc(100vw - 70%);
    position: absolute;
}

.two {
    top: 250px;
    left: calc(100vw - 60%);
}

.three {
    top: 250px;
    left: calc(100vw - 50%);
}

.four {
    top: 250px;
    left: calc(100vw - 40%);
}

.five {
    top: 250px;
    left: calc(100vw - 30%);
}


/* .tooltiptext */
.tip {
    display: none;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: calc(100vw - 73%);
    background-color: rgba(0,0,0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
}

.tip.show {
    display: block;
}

.tip_2 {
    top: 300px;
    left: calc(100vw - 63%);
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px; */
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  top:50%;
  left:50%;
  width:400px;  /* adjust as per your needs */
  height:200px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:-100px;
  border: 3px solid #f1f1f1;
}
#container {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
}
#container:target {
    visibility: visible;
    display: block;
}
.reveal-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
}

/* Add styles to the form container */
.form-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(255,182,193,1); /* complimenting your modal colors */
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
<<<<<<< Updated upstream

#popup_content_wrap {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.74);
    z-index: 9999999;
}
#popup_content {
    width: 500px;
    max-width: 90%;
    height: 500px;
    padding:0px;
	position: relative;
	top: 134px;
    left: 480px;
    background:#fff;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}
span {
  border-radius:30px 30px 30px 30px;
  margin-left:95%;
  background:#000;
  color:#fff;
  font-size:20px;
  height:0%;
  padding:0 5px;
  cursor:pointer;
}
*, *:after, *:before {
  box-sizing: inherit;
}


.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  max-width: 90%;
  position: relative;
  width: 500px;
}

.closed {
  -webkit-animation: close 0.4s ease-in-out forwards;
          animation: close 0.4s ease-in-out forwards;
}

.opened {
  -webkit-animation: open 0.4s ease-in-out forwards;
          animation: open 0.4s ease-in-out forwards;
}

header {
  background: url(https://www.lonelyplanet.com/news/wp-content/uploads/2016/10/GettyImages-512333921.jpg) center 100%;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  height: 250px;
  width: 500px;
}

.content {
  height: 250px;
  padding: 1em 2em;
  text-align: center;
}

h3 {
  color: #212121;
  font-size: 2.5em;
  font-weight: 600;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

p {
  font-size: 1.25em;
}

button {
  background: #0e99cb;
  border: none;
  border-radius: 2em;
  color: #fff;
  cursor: pointer;
  font-family: Dosis, "Segoe Ui", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  height: 3em;
  line-height: 3em;
  padding: 0 3em;
  transition: box-shadow 0.3s ease;
}
button:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.close:after {
  color: #fff;
  content: "X";
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
  right: 0.8em;
  top: 0.5em;
  -webkit-transform: scaleX(1.25);
          transform: scaleX(1.25);
  transition: color 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.close:hover:after {
  color: #212121;
}

@-webkit-keyframes close {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes close {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes open {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes open {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
=======
$font: 'Oxygen', sans-serif;

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body {
  font-family:$font;

  &.active-modal {
    overflow:hidden;
    header.header {
      transition:0.2s;
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}

header.header {
  width :100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  position:relative;
  transition:0.2s;
  background: url('https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')no-repeat center center;
  background-size:cover;
}

.container {
  .avatar {
    width:120px;
    height:120px;
    overflow:hidden;
    border-radius:100%;
    margin-bottom:15px;
    img {
      width:100%;
      height:100%;
      object-fit:cover;
      border:none;
    }



  }

   span {
      display:inline-block;
      background:#fff;
      border-radius:100px;
      padding:10px 20px;
      font-size:11px;
      font-weight:700;
      margin-top:10px;
      cursor:pointer;
    }

}

.box-modal {
  position:fixed;
  width:100%;
  height:100vh;
  left:0px;
  top:0px;
  visibility:hidden;
  .overlay {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    background:#000;
    opacity:0;
    transition:opacity 1.3s;
  }

  .body-modal {
    max-height:0px;
    opacity:0;
    overflow:hidden;
    .inner-body-modal {
      background:#fff;
      padding:25px;
      border-radius: 8px;
      position:relative;
      z-index:1;
      box-shadow:0px 0px 65px 0px rgba(0, 0, 0, 0.43);
    }
  }
  
   &.modal-show {
    display:flex;
    align-items:center;
    justify-content:center;
     visibility:visible;
     transition:all 0.9s;
    .overlay {
      opacity:0.5;
      transition:opacity 1.3s;
    }

     .body-modal {
       max-height:1000px;
       opacity:1;
       transition:0.3s max-height 0.8s, 0.3s opacity 0.6s, ;
     }
  }

>>>>>>> Stashed changes
}
