.card-body {
  background-color: #0080FF;

  padding: 10px 10px;
  width:299px;
  height:400px;
}

#list {font-size:16px;
color:white;
font-family:Arial;
}

.heading-text {font-size:16px;
  font-family:Arial;
  color:white;
}

#submitButton {
	-moz-box-shadow: 0px 0px 0px 2px #ffffff;
	-webkit-box-shadow: 0px 0px 0px 2px #ffffff;
	box-shadow: 0px 0px 0px 0px;
	background-color:	#0080FF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:16px;
	padding:5px 5px;
	text-decoration:none;

}
.submitButton:hover {
	background-color:transparent;
}
.submitButton:active {
	position:relative;
	top:1px;
}
